*{
    padding: 0;
    margin: 0;
}

.main{
    border: solid 1px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 523px;
}
button{
    height: 40px;
    font-weight:900;
    font-size: 25px;
}